* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    font-family: 'Public Sans', sans-serif;
}

.btn {
    height: 30px;
    width: 150px;
    text-align: center;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    padding-top: 12px;
    border-radius: 25px;
    font-weight: 600;
    color: white;
}

.btn:hover {
    opacity: 50%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 25px;
}

.nav-link {
    font-size: 17px;
    font-weight: 400;
    color: hsl(233, 8%, 62%);
}

.nav-link:hover {
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-color: hsl(136, 65%, 51%);
    border-bottom-width: 5px;
    width: fit-content;
}

.banner-container {
    height: auto;
    padding-bottom: 150px;
    background-color: hsl(0, 0%, 98%);

}

.banner-header {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    width: 80%;
}

#title {
    color: hsl(233, 26%, 24%);
    font-size: 70px;
    font-weight: lighter;
    margin-top: 50px;
    width: 502px;
}

.banner-header p {
    color: hsl(233, 8%, 62%);
    font-size: 19px;
    margin-top: 30px;
    line-height: 1.5em;
    width: 502px;
}

#request-invite-middle {
    margin-top: 40px;
}

.banner-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 130%;
    background-image: url('./images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: 137% -55%;
}

.banner-img::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 130%;
    background-image: url('./images/image-mockups.png');
    background-repeat: no-repeat;
    background-size: 32%;
    background-position: 108% -20%;
}

.info-container {
    height: 500px;
    background-color: hsl(220, 16%, 96%);
    padding-top: 100px;
}

.info-header {
    margin-left: 200px;
}

.info-header span {
    font-size: 40px;
    color: hsl(233, 26%, 24%);
    width: 600px;
}

.info-header p {
    margin-top: 20px;
    font-size: 16px;
    color: hsl(233, 8%, 62%);
    line-height: 1.5em;
    width: 600px;
}

.info-row {
    display: flex;
    margin: 20px 0px 0px 170px;
}

.info {
    padding: 50px;
    height: 200px;
    width: 264px;
    line-height: 1.5em;
}

.info h5 {
    font-size: 20px;
    font-weight: 100;
    color: hsl(233, 26%, 24%);
    margin: 20px 0px 20px 0px;
}

.info p {
    color: hsl(233, 8%, 62%)
}

.articles {
    height: 600px;
    background-color: hsl(0, 0%, 99%);
    padding-top: 100px;
    margin-left: 200px;
}

.articles span {
    font-size: 40px;
    color: hsl(233, 26%, 24%);
}

.article-row {
    display: flex;
    align-items: flex-start;
}

.article {
    height: 400px;
    width: 268px;
    padding: 50px 100px 0px 0px;
}

.article img {
    height: 200px;
}

.article-details {
    margin-top: 20px;
}

.article-details h6 {
    font-size: 12px;
    font-weight: 100;
    color: hsl(233, 8%, 62%);
}

.article-details h5 {
    font-size: 20px;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    margin-top: 15px;
}

.article-details p {
    font-size: 15px;
    font-weight: 300;
    color: hsl(233, 8%, 62%);
    margin-top: 15px;
    width: 96%;
}

.article-details h5:hover {
    color: hsl(136, 38%, 55%)
}

footer {
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 50px;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.row1 {
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.row1 a {
    color: white;
    font-size: 17px;
    line-height: 1.5em;
}

.footer-items {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}

#request-invite-bottom {
    margin-bottom: 30px;
}

.footer-items p {
    margin-bottom: 10px;
}

.attribution a {
    color: white;
}

.footer-nav a:hover, .attribution a:hover {
    color: hsl(136, 65%, 51%);
}

#facebook:hover, #instagram:hover, #twitter:hover, #youtube:hover, #pinterest:hover {
    filter: invert(0.21) sepia(0.5) saturate(12.8) hue-rotate(61.2deg) brightness(0.82);
}

@media (max-width: 900px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
    }
    .nav-menu {
        align-items: center;
        display: block;
        position: absolute;
        top: -450%;
        right: 20%;
        flex-direction: column;
        background-color: #ffffff;
        text-align: center;
        width: 60%;
        z-index: 10;
        transition: 0.1s;
        border-radius: 0.4rem;
        box-shadow: 0 25rem 15rem 15rem rgba(0, 0, 0, 0.5);
    }
    .nav-menu.active {
        top: 100px;
        
    }
    .nav-item {
        margin: 1.2rem 0;
    }
    .nav-item a {
        color: #101010;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    #request-invite-top {
        display: none;
    }
    .banner-container {
        height: auto;
    }
    .banner-header {
        margin: 0;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .banner-img::before{
        visibility: hidden;
    }

    .banner-img {
        min-height: 25rem;
        position: relative;
        background-image: url('/images/bg-intro-mobile.svg');
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .banner-img::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('/images/image-mockups.png');
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: 50% 85%;
    }
    .banner-header p {
        width: 80%;
    }
    #title {
        font-size: 55px;
        margin-top: 100px;
        text-align: center;
        width: 80%;
    }
    .info-container {
        height: 40cm;
    }
    .info-header {
        margin: 0;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .info-header span {
        width: 80%;
    }
    .info-header p {
        width: 80%;
        margin-left: 40px;
    }
    .info-row {
        margin: 50px 0px 0px 0px;
        width: 100%;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .info {
        height: 200px;
        width: 264px;
    }
    .articles {
        margin: 0;
        height: 50cm;
    }
    .article-header {
        font-size: 30px;
        text-align: center;
        align-items: center;
    }
    .article-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .article {
        max-width: 100%;
        margin-left: 100px;
    }
    .article img {
        width: 100%;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
    .row1 {
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
    }
    .row1 a {
        font-size: 19px;
        line-height: 1.8em;
    }
    .footer-items {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }
}

@media (max-width: 1600px) and (min-width: 900px) {
    .info-container {
        height: 20cm;
    }

    .info-row {
        flex-wrap: wrap;
    }

    .articles {
        height: 26cm;
    }

    .article-row {
        flex-wrap: wrap;
    }
}

@media (max-width: 375px) {
    body {
        width: 116%;
    }

    .info-container {
        width: 95%;
    }
}